<div class="row">
    <div class="col-md-7">
        <h2>Sager i kø</h2>
        <table id="tickets" class="table">
            <thead>
                <tr>
                    <th>Oprettet</th>
                    <th>Beskrivelse</th>
                    <th>Behandles</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <h2>Opret sag</h2>

        <form id="addTicketForm">
            <div class="form-group">
                <label for="ticketCreatedBy">Navn</label>
                <input type="text" class="form-control" id="ticketCreatedBy" name="ticket[CreatedBy]" placeholder="Navn">
            </div>
            <div class="form-group">
                <label for="ticketDescription">Beskrivelse</label>
                <textarea class="form-control" id="ticketDescription" name="ticket[Description]" rows="3" placeholder="Kort beskrivelse, evt. Jira sagsnummer"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Opret</button>
        </form>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $.userTicket = new UserTicket();
            $.userTicket.Init();
        });
    </script>
}
